body{
    font-family: Roboto;
    margin: 0;
}

.header,
.footer{
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}

.header{
    font-size: 24px;
    color: #f9faf8;
    padding: 20px 350px;
    font-weight: bold;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display:flex;
    gap: 16px;
    align-items: center;
}

.text-image{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1f2937;
    padding: 150px 350px;
}

.big-hero {
    font-size: 48px;
    font-weight:bolder;
    color: #f9faf8;
    margin: 0;
}

.small-hero, a{
    font-size: 18px;
    color: #e5e7eb;
    text-decoration: none;
    margin:0;
}

.subtext{
    font-size: 18px;
    text-wrap: wrap;
    text-align: center;
}

.hero-text {
    width: 450px;
}

img{
    height: 278px;
    width: auto;
}

button {
    margin-top: 10px;
    background-color: #3882f6;
    color: white;
    border-radius: 7px;
    padding: 10px 30px;
    font-weight: bold;
}

.second-section{
    padding-top: 50px;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 100px;
}

.multi-image{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.info-header{
    font-size:36px;
    font-weight: bolder;
    color: #1F2937;
    text-align: center;
    margin-bottom: 50px;
}

.sub-image{
    display:flex;
    flex-direction: column;
    align-items: center;
    width: 277.99px;
}

.sub-image img{
    height: 200px;
    width: auto;
    border: 7px solid #3882f6;
    border-radius: 25px;
    margin-bottom: 5px;
}

.quote {
    background-color: #e5e7eb;
    padding: 150px 500px;
}

.quote-text{
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    margin-bottom: 10px;
}

.quote-person{
    text-align: right;
    font-weight: bold;
    font-size: 20px;
}

.third-section{
    padding: 100px 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cta-container{
    box-sizing: border-box;
    background-color: #3882f6;
    border-radius: 10px;
    padding: 50px 150px;
    width: 1500px;
    height: 150px;
    display:flex;
    justify-content: space-between;
}

.cta-header{
    font-size: 22px;
    color: white;
    font-weight: bold;
}
.cta-text{
    font-size: 18px;
    color: white;
}
.cta-button{
    border-color: white;
    border-width: 3px;
}