body{
    font-family: Roboto;
    margin: 0;
}

.header,
.footer{
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}

.header{
    font-size: 24px;
    color: #f9faf8;
    padding: 20px 350px;
    font-weight: bold;
}




ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display:flex;
    gap: 16px;
    align-items: center;
}

.text-image{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1f2937;
    padding: 150px 350px;
}

.big-hero {
    font-size: 48px;
    font-weight:bolder;
    color: #f9faf8;
    margin: 0;
}

.small-hero, a{
    font-size: 18px;
    color: #e5e7eb;
    text-decoration: none;
    margin:0;
}

.hero-text {
    width: 450px;
}

img{
    height: 278px;
    width: auto;
}

button {
    margin-top: 10px;
    background-color: #3882f6;
    color: white;
    border-radius: 7px;
    padding: 10px 30px;
    font-weight: bold;
}


.multi-image{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
}

.info-header{
    font-size:36px;
    font-weight: bolder;
    color: #1F2937;
    text-align: center;
}